<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JSONLayout complete="false" eventEol="true" compact="true" stacktraceAsString="true" />
        </Console>
        <File name="SpringLog" fileName="/var/log/spring.log">
            <JSONLayout complete="false" eventEol="true" compact="true" stacktraceAsString="true" />
        </File>
        <Sentry name="Sentry" />
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SpringLog"/>
            <AppenderRef ref="Sentry" level="ERROR" />
        </Root>
    </Loggers>
</Configuration>
